* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

ul {
    list-style-type: none;
}

.wrapper {
    border: 3px solid #010124;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('sprite/bg.png');
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

#pName {
    /* border: 1px solid white; */
    color: white;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 30px;
    width: 400px;
    position: absolute;
    top: 3%;
    left: 26%;
    transform: translate(-50%, -50%);
}

#eName {
    /* border: 1px solid white; */
    color: white;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 30px;
    width: 400px;
    position: absolute;
    top: 3%;
    left: 74%;
    transform: translate(-50%, -50%);
}

#playerSprite {
    background: transparent;
    
    height: 298px;
    width: 200px;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
}

#enemySprite {
    background-image: transparent;
    
    height: 298px;
    width: 200px;
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
}

#playerStats {
    /* border: 1px solid white; */
    font-size: 30px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 150px;
    width: 200px;
    position: absolute;
    top: 60%;
    left: 28%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
}

#enemyStats {
    /* border: 1px solid white; */
    font-size: 30px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 150px;
    width: 200px;
    position: absolute;
    top: 60%;
    left: 78%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
}

.startButton {
    position: absolute;
    top: 92%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.attackButton {
    position: absolute;
    top: 92%;
    left: 58%;
    transform: translate(-50%, -50%);
}

.spellButton {
    position: absolute;
    top: 92%;
    left: 64%;
    transform: translate(-50%, -50%);
}